@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.5rem;
	color: #7d7d7e;
	font-family: "Roboto", sans-serif;
}
