@import url("https://fonts.googleapis.com/css?family=Hind:400,500,600|Poppins:400,600&display=swap");

body,
html {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.5rem;
	color: #7d7d7e;
	font-family: "Hind", sans-serif;
}
