:global {
	@import "~react-id-swiper/lib/styles/scss/swiper.scss";

	.swiper-wrapper {
		display: flex;
	}
}

.slide {
	@extend .swiper-slide;

	width: 66.6%;
	height: auto;
	max-height: 650px;
	position: relative;
}
