.index {
  p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7d7d7e;
    margin: 0 0 40px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #292b2c;
    margin: 0 0 40px;
  }
}